# Archivos de cache y temporales de Godot
.import/
.export/
.godot/
*.import
*.tmp
*.translation

# Archivos ocultos del sistema
.DS_Store
Thumbs.db

# Backups comunes
*~

# Builds (si haces exportaciones a exe, apk, etc.)
build/
bin/
*.exe
*.apk
*.pck
